{% extends "layouts/base.html" %}
{% block content %}
<!-- ======= Header ======= -->
{% include 'layouts/header.html' %}
<!-- End Header -->
<!-- ======= About Section ======= -->
{% include 'portfolio/about.html' %}
<!-- End About Section -->
<!-- ======= Portfolio Section ======= -->
{% include 'portfolio/portfolio.html' %}
<!-- End Portfolio Section -->
<!-- ======= Contact Section ======= -->
{% include 'portfolio/contactme.html' %}
<!-- End Contact Section -->
<!-- ======= Footer Section ======= -->
{% include 'layouts/footer.html' %}
<!-- End Footer Section -->
{% endblock content %}